@font-face {
    font-family: 'economicabold';
    src: url('../fonts/economica-bold-otf-webfont.woff2') format('woff2'),
         url('../fonts/economica-bold-otf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'economicaregular';
    src: url('../fonts/economica-regular-otf-webfont.woff2') format('woff2'),
         url('../fonts/economica-regular-otf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* custome css start */
html{-webkit-font-smoothing:antialiased;}
*{outline:none;}
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset, p, hr, iframe{margin:0;padding:0;border:none;}
a, input, select, textarea{outline:none;margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
a{text-decoration:none;color:#333333;}
a:focus,:focus, input:focus{outline:none;}
img{max-width:100%;vertical-align:middle;border:none;outline:none;max-height:100%;border-radius:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;margin:0;padding:0;}
input, textarea, select, button{resize:none;border:0;border-radius:0;-webkit-border-radius:0;-webkit-appearance:none;}
select, input[type="submit"]{cursor:pointer}
p{font-size:14px;line-height:20px;}
em{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{font-weight:normal;}
.clear{clear:both;}
label.error{position:absolute;right:15px;top:-20px;width:auto;height:auto;margin:0;padding:0;line-height:normal;font-size:11px !important;line-height:11px !important;background:#fb0101;padding:5px 5px 4px !important;color:#ffffff;display:none;}
label.error:after{border-color:#fb0101 transparent transparent;border-image:none;border-right:6px solid transparent;border-style:solid;border-width:6px;content:" ";height:0;left:20px;margin-left:-10px;position:absolute;top:100%;width:0;}
.trans{transition:all 0.3s ease-out 0s;}
select option{padding:5px 10px;}
.star{position:relative;}
.star:after{position:absolute;right:4px;top:2px;content:"*";color:#ff0015;font:14px/18px 'Open Sans', sans-serif;}
.absoImg{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;}
body{color:#000;background-color:#fff;font:14px/18px 'Open Sans', sans-serif;min-height: 1000px;overflow-x: hidden;}
ul, li{list-style:none;}
::-webkit-input-placeholder{color:#000;}
:-moz-placeholder{color:#000;opacity:1;}
::-moz-placeholder{color:#000;opacity:1;}
:-ms-input-placeholder{color:#000;}


.topStrip{background-color: #ebebeb;}
.leftPart ul{float: left;}
.leftPart ul li{float: left;line-height: 35px;height: 35px;}
.phLi{padding:0 16px 0 29px;background: url(../images/phone.png) no-repeat left center;border-right: 1px solid #dddddd;}
.maiLi{padding-left: 42px;background: url(../images/email.png) no-repeat 14px center;border-left: 1px solid #fff;}

.phNumebr{font-size: 16px;color: #222222;font-weight: 700;}
a.phNumebr{display: none;}
.maiLi a{color: #222222;text-decoration: underline;text-decoration-color: #696969;padding-bottom: 1px;}


.socialUl{float: right;margin: 5px 0 0;}
.socialUl li{float: left;margin-left: 6px;}
.socialUl li:first-child{margin-left: 0;}
.socialUl li a{display: block;width: 25px;height: 25px;background: url(../images/social.png) no-repeat 0 0;}
.socialUl li .twit{background-position:-31px 0;}
.socialUl li .ytube{background-position:-62px 0;}
.socialUl li .gpluse{background-position:-93px 0;}
.socialUl li .linkd{background-position:-124px 0;}
.socialUl li .skype{background-position:-155px 0;}

.pipe{display: inline-block;vertical-align: top;font-weight: 400;margin: -1px 0 0;}
a.phNumebr + span{display: none;}


.slider{max-width: 2000px;margin: 0 auto;position: relative;}
.slider:after{position: absolute;left: 0;right: 0;bottom: 0;content: '';background: url(../images/border-img.png) no-repeat center top;height: 91px;z-index: 1;}

.slider .owl-nav div{position: absolute;top: 50%;background: url(../images/arrow.png) no-repeat 0 0;width: 42px;height: 42px;left: 48px;overflow: hidden;text-indent: -99999999px;opacity: 0.56;margin: -67px 0 0;}

.slider .owl-nav .owl-next{background-position: right center;right: 48px;left: inherit;}

.logo{float: left;padding: 21px 0 0;position: relative;z-index: 11;}
/*.headBtm{margin: 0px;float: left;width: 100%;position: fixed;display: inline;z-index: 11;transition: all 0.3s ease-in-out 0s;}*/
.headBtm{margin: 0 0 -100px;float: left;width: 100%;position: relative;z-index: 11;transition: all 0.3s ease-in-out 0s;}
.menuIcon{float: right;margin: 41px -6px 0 0;position: relative;z-index: 99;}
.menuIcon a{font: 14px/16px 'economicabold';position: relative;text-transform: uppercase;color: #fff;letter-spacing: 6px;padding-bottom: 18px;}
.menuIcon a:after, .menuIcon a:before{position: absolute;left: 0;bottom: 0;content: '';background-color: #fff;width: 45px;height: 2px;-webkit-transition: all .35s ease;transition: all .35s ease;}
.menuIcon a:before{bottom: 10px;}
.menuIcon a.active:after{ -webkit-transform: translateY(0) translateX(7px) rotate(45deg); transform: translateY(0) translateX(7px) rotate(45deg);}
.menuIcon a.active:before{ -webkit-transform: translateY(0) translateX(7px) rotate(0); transform: translateY(0) translateX(7px) rotate(-45deg);bottom: 0;}    
.headBtm.fixedHead{top: 0;}
.menuSlideInScroll{position: fixed;background-color: rgba(0,0,0,0.8);left: 0;right: 0;height: 80px;z-index: 11;display: none;}
.mini_logo img, .headBtm img{transition: all 0.3s ease-in-out 0s;transition-delay: 0.2s;}

 .fixedHead img {transform: scale(0.8,0.8);-webkit-transform: scale(0.8,0.8);-moz-transform: scale(0.8,0.8);}
 .menuTopSlideNav-down img{width: 80px;}

.bannerCon{position: absolute;left: 0;right: 0;top: 50%;text-align: center;transform: translateY(-50%);-webkit-transform: translateY(-50%);margin-top: -10px;}
.animation1, .animation2, .animation3{opacity: 0;}
.owl-item.active .animation1{
    -webkit-animation:fadeInDown 1s ease-in 500ms both;;
    animation:fadeInDown 1s ease-in 500ms both;;
    opacity:1;
}
.owl-item.active .animation2{
    -webkit-animation:fadeInLeft 1s ease-in 1s both;;
    animation:fadeInLeft 1s ease-in 1s both;;
    opacity:1;
}
.owl-item.active .animation3 {
    -webkit-animation:fadeInRight 1s ease-in 1.5s both;;
    animation:fadeInRight 1s ease-in 1.5s both;;
    opacity:1;
}


.scrollDown{position: absolute;;margin: 0 auto;bottom: 60px;background: url(../images/scroll-arrow.png)no-repeat;width: 24px;height: 39px;left: 0;right: 0;z-index: 1;}
.titleBox{text-align: center;margin: 0 0 20px;}
.titleDiv{display: inline-block;vertical-align: top;}
.digitSpan{color: #e8e8e8;display: inline-block;vertical-align: middle;font: 98px/98px 'economicabold';}
.titleSpan{color: #000000;display: inline-block;vertical-align: middle;font: 38px/40px 'economicaregular';margin: 0 0 0 -39px;position: relative;}
.titleSpan:after{position: absolute;right: 0;bottom: -15px;content: '';width: 60px;height: 3px;background-color: #ef7f1a;}
.titleSpan span{font-family: 'economicabold';}

.abuContent p{color: #000000;font-size: 16px;line-height: 24px;text-align: center;margin: 0 0 14px;}
.abuContent p:last-child{margin: 0;}
.abuContent p strong{font-weight: 700;font-style: italic;}

.imgContent{float: left;width: 100%;}
.imgcontainer{max-width: 2000px;margin: 0 auto;}
/* .greenBox{float: left;width:100%;height: 334px;}*/
.greenBox{float: left;width:50%;position: relative;}
.greenBox img{max-width: inherit;float: right;margin-right: -278px;}
.greenBoxcon{float: right;width: 705px;color: #fff;position: absolute;top: 57px;right: -135px}

.greenBoxcon h3{text-transform: uppercase;font: 25px/25px 'economicabold';}
.greenBoxcon h3 span{font-family: 'economicaregular'}
.greenBoxcon h3:after{content: '';display: block;border-bottom: 3px solid #fff;width: 60px;margin: 17px 0 0;}

.greenBoxcon ul{margin: 20px 0 24px;}
.greenBoxcon li{display: inline-block;vertical-align: middle;position: relative;font-size: 16px;color: #fff;font-weight: 700;line-height: 28px;background: url(../images/white-true.png)no-repeat left center;padding: 0 0 0 42px;margin: 0 26px 0 0;}
.greenBoxcon li:last-child{margin-right: 0;}
.greenBoxcon p{color: #fff;font-size: 16px;line-height: 24px;}

.rightImg{float: left;width: 50%;position: relative;overflow: hidden;padding: 36px 0 0 108px;}
.rightImg img{max-width: inherit;float: left;}

.leftContent p{font-size: 16px;color: #000000;line-height: 24px;}
.leftContent p strong{font-style: italic;font-weight: 700;}
.leftContent p + ul{margin: 11px 0 13px;}
.leftContent h4{color: #000000;font-family: 'economicabold';font-size: 24px;line-height: 26px;margin: 23px 0 15px;}
.leftContent ul{padding: 0 0 0 15px;margin: 0 0 -10px;}
.leftContent ul li{position: relative;font-size: 16px;line-height: 22px;margin: 0 0 10px;padding: 0 0 0 37px;}
.leftContent ul li:before{background: url(../images/true-icon.png)no-repeat;width: 22px;height: 22px;position: absolute;left: 0;top: 0;content: ''}

.homeImg{margin: -45px 0 0;}
.rightContent p{font-size: 16px;color: #000000;line-height: 24px;}
.tabTitle{color: #666666;font-style: italic;font-weight: 400;margin: 10px 0 16px;}

.tableBox{border: 1px solid #eeeeee;}
.tableBox th{background-color: #00a0e3;text-transform: uppercase;font:20px/37px 'economicabold';padding: 0 19px;color: #fff;}
.tableBox td{padding: 0 19px;line-height: 30px;vertical-align: top;}
.tableBox tr{background-color: #fff;}
.tableBox tr:nth-child(odd){background-color: #f6f6f6}

.percent{display: inline-block;vertical-align: top;font-size: 20px;color: #000000;line-height: 60px;width: 60px;text-align:center;background-color: #fff;font-weight: 700;border-radius: 10px;-webkit-border-radius: 10px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);}
.percent span{font-weight: 400;}

.appSection .tableBox{padding-bottom: 39px;background-color: #f6f6f6;}
.appSection .tableBox td{padding: 14px 19px;line-height: 22px;}

.appSection .tableBox tr:nth-child(odd){background-color: #e8e8e8}
.appSection .tableBox tr:nth-child(even) .percent{background-color: #f6f6f6;}

.imgcontainer{background:#b0cb1f url(../images/green-trans.png) no-repeat center top;padding: 50px 0;background-size: cover;background-attachment: fixed;}

.netSection{background: url(../images/nets-bg.jpg);background-attachment: fixed;position: relative;padding: 84px 0 55px;}
.netSection:before{position: absolute;left: 0;right: 0;top: 0;content: '';background: url(../images/border-img.png) no-repeat center top;height: 91px;z-index: 1;transform: rotate(180deg);-webkit-transform: rotate(180deg);}


.iconBox{width: 110px;height: 110px;position: relative;display: inline-block;}
.iconBox img{transition: 300ms all;}

.iconContain{text-align: center;color: #fff;font:20px/28px "economicabold";padding-bottom: 25px;}
.btmPart{padding-top: 15px;padding-bottom: 0;}
.iconContain:after{position: absolute;right: 0;top: 0;bottom: 15px;content: '';width: 1px;background-color: #fff;}
.btmPart:after{top: 15px;bottom: 0;}
.afNone:after, .btmPart:before{display: none;}
.iconContain:before{position: absolute;left: 15px;right: 15px;bottom: 0;content: '';height: 1px;background-color: #fff;}

.whContent{margin: 10px 0 0;}


.netsTitle{color: #fff;display: inline-block;vertical-align: middle;font: 38px/40px 'economicaregular';position: relative;text-align: center;width: 100%;margin: 0 0 20px;}
.netsTitle:after{position: static;right: 0;bottom: -15px;left: 0;content: '';width: 60px;height: 3px;background-color: #ef7f1a;display: block;margin: 14px auto 0;}
.netsTitle span{font-family: 'economicabold';}

.netSlider{text-align: center;}

.gallContent h2{font: 24px/26px 'economicaregular';color: #b0cb1f;margin: 29px 0 15px;}
.gallContent h2:after{display: block;margin: 13px auto 0;width: 30px;height: 2px;background-color: #fff;content: '';}
.gallContent p{color: #ffffff;font-weight: 300;line-height: 22px;}

.circleBox{position: relative;}
.circleBox a{width: 220px;height: 220px;margin:0 auto;background-color: rgba(0,0,0,0.4);transform: scale(0.9);-webkit-transform: scale(0.9);opacity: 0;visibility: hidden;}
.circleBox a:after{position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;content: '';width: 76px;height: 76px;background: url(../images/pluse.png) no-repeat;transform: translateY(-100%);-webkit-transform: translateY(-100%);transition: 300ms all;-webkit-transition: 300ms all;opacity: 0;visibility: hidden;transition-delay: 0.3s;-webkit-transition-delay: 0.3s;}

.netSlider .item{padding: 0 10px;}


@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.bannerLogo img{display: block;margin: 0 auto 4px;}
.bannerLogo:after{background-color: #ef7f1a;width: 70px;height: 2px;display: inline-block;content:'';margin: 4px 0 0;}
.bannerCon h1{color: #fff;font-size: 18px;line-height: 30px;margin: 13px auto 31px auto; width:880px}
.bannerCon h1 span{font-weight: 600;font-style: italic;}

.callBtn{display: inline-block;vertical-align: top;font-size: 16px;color: #fff;text-transform: uppercase;line-height: 43px;border: 1px solid #fff;padding: 0 16px;font-weight: 700;border-radius: 3px;-webkit-border-radius: 3px;position: relative;overflow: hidden;}
.callBtn span{position: relative;z-index: 1;}
.callBtn:after{position: absolute;right: -5px;bottom: -5px;border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(176, 203, 31, 0);
    border-top-color: #b0cb1f;
    border-width: 7px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 300ms all;
    -webkit-transition: 300ms all;
}


.conSection .titleSpan{color: #fff;}
.conSection .digitSpan{color: #2d4500}
.conSection{margin: 0 auto;max-width: 1570px;background: url(../images/contact-bg.jpg) no-repeat center center;background-attachment: fixed;padding: 46px 0 30px;overflow: hidden;}
.conSection .titleBox{margin: 0 0 8px;}

.conForm p{float: left;padding: 0 15px;width: 25%;margin: 0 0 30px;position: relative;}
.conForm p.halfP{width: 50%;}
.conForm p:last-child{width: 100%;text-align: center;}
.conForm p input[type="text"], .conForm p input[type="tel"]{float: left;width: 100%;height: 45px;background-color: #fff;border-radius: 2px;-webkit-border-radius: 2px;padding: 0 30px 0 15px;font-size: 14px;color: #000;background-position: right center;background-repeat: no-repeat;}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.nametxt{background-image: url(../images/name.jpg);}
.emailtxt{background-image: url(../images/email-icon.jpg);}
.mobitxt{background-image: url(../images/mobile.jpg);}
.statetxt{background-image: url(../images/state.jpg);}

.conForm p input[type="reset"], .conForm p input[type="submit"]{display: inline-block;vertical-align: top;color: #fff;text-transform: uppercase;font-size: 16px;font-family: "Open Sans",sans-serif; height: 45px;text-align: center;border-radius: 3px;-webkit-border-radius: 3px;border: 1px solid #fff;font-weight: 700;margin: 0 6px;transition: all 300ms ease 0s;-webkit-transition: all 300ms ease 0s;}
.conForm p input[type="submit"]{width: 190px;background: url(../images/submit-bg.jpg) no-repeat center center;}

.conForm p input[type="reset"]{width: 130px;background: url(../images/reset-bg.png) no-repeat right bottom;}

.twoLogo{float: left;}
.location{float: left;margin: 6px 61px 0 66px;}

.conTitle{color: #000000;font:22px/24px 'economicabold';margin: 0 0 15px;}
.location p{color: #000000;font-size: 13px;line-height: 18px;}
.lastCol{float: left;margin: 6px 0 0;}
.lastCol p{font-size: 14px;margin: 0 0 3px;}
.lastCol p a{color: #000;}

.lastCol .phNumebr{font-size: 14px;}
.lastCol .socialUl{float: left;margin: 10px 0 0;}

.locationBox{float: left;width: 100%;}
.locationBox iframe{float: left;width: 100%;height: 360px;}

.footerBtm{float: left;height: 123px;width: 100%;position: relative;background: url(../images/footer-bg.png) no-repeat center center;margin: -82px 0 0;padding: 0 15px;text-align: center;padding: 24px 0 0;}
.footerBtm p a{font-weight: 700;color: #000;}

.footerBtm img{margin: 0 auto 11px;display: block;}

.conDetail{padding: 46px 0 40px;}
.appSection{padding: 46px 0 60px;}
.porSection{padding: 46px 0 34px;}
.aboutSection{padding: 26px 0 55px;overflow: hidden;}

.popupBox{position: fixed;top: 0;right: 0;bottom: 0;left: 0;margin: auto;background-color: rgba(0,0,0,0.5);z-index: 111111;opacity: 0;visibility: hidden;}
.popMain{background-color: #fff;box-shadow: 0 0 10px rgba(0,0,0,0.5);-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);padding: 20px;position: absolute;left: 50%;top: 0;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);width: 800px;opacity: 0;visibility: hidden;}
.popVisible{opacity: 1;visibility: visible;}
.popVisible .popMain{top: 50%;opacity: 1;visibility: visible;}
.popImg{display: inline-block;vertical-align: middle;}
.popContent{display: inline-block;vertical-align: middle;width: 500px;padding:0 30px;text-align: center;}
.popTitle{font:38px/40px "economicaregular";margin: 0 0 15px;text-transform: capitalize;}
.popTitle:after{position: static;content: '';width: 60px;height: 3px;background-color: #ef7f1a;display: block;margin: 10px auto 0;}
.popTitle span{font-family: "economicabold"}
.popContent p{color: #000000;font-size: 16px;line-height: 24px;text-align: center;margin: 0 0 14px;}
.popContent p strong{font-weight: 700;font-style: italic;}
.popClose{position: absolute;top: -20px;right: -20px;background: #fff url(../images/pop-close.png) no-repeat;width: 40px;height: 40px;}


.popContent ul li{position: relative;font-size: 14px;line-height: 22px;margin: 0 0 10px;padding: 0 0 0 30px;text-align: left;}
.popContent ul li:before{background: url(../images/true-icon.png)no-repeat;width: 22px;height: 22px;position: absolute;left: 0;top: 0;content: ''}
.popContent ul li:last-child{margin: 0;}
.subTitle{text-align: left;display: inline-block;vertical-align: top;width: 100%;margin: 0 0 10px;font-size: 16px;}

.mini_logo{ text-align:center;float: left;}
.main_menu{ background:rgba(0, 0, 0, 0.8); width:100%; position:fixed; top:0;-moz-transition:all 500ms ease-in-out; -ms-transform: all 500ms ease-in-out;-o-transition:all 500ms ease-in-out; transition:all 500ms ease-in-out; padding:15px 0;z-index: 11;text-align: center;transform: translate3d(0px, -100%, 0px);-webkit-transform: translate3d(0px, -100%, 0px);}
.menu_inn{text-align:center;float:right;margin:0 auto; padding:0;width: 92%;}
.main_menu .menu_inn li{ display:inline-block; }
.main_menu .menu_inn li.hiddenli{display: none;color: #fff;}
.main_menu .menu_inn li a{ padding:10px 20px;display:block;color:#fff;font:20px/20px "economicaregular";text-transform: uppercase;letter-spacing: 1px;}
.menuTopSlideNav-down{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.button_container.active .top { -webkit-transform: translateY(10px) translateX(0) rotate(45deg); transform: translateY(10px) translateX(0) rotate(45deg); background: #FFF; top:1px;}
.button_container.active .middle { opacity: 0; background: #FFF; }
.button_container.active .bottom { -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg); transform: translateY(-10px) translateX(0) rotate(-45deg); background: #FFF; }

.menuTopSlideNav-down + .headBtm .logo{opacity: 0;}
.menu_inn li a.active{color: #b0cb1f;}

.headCon{text-transform: uppercase;}
.topSpace{display: block;margin: 15px 0 0;}
/*.menuTopSlideNav-down + .headBtm .logo{opacity: 0;transition: 500ms all;transition-delay: 0.2s;}*/

/* owl carousel css */

.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
    z-index: 0;
}
.owl-carousel .owl-animated-out {
    z-index: 1;
}
.owl-carousel .fadeOut {
    animation-name: fadeOut;
}
@keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
.owl-height {
    transition: height 500ms ease-in-out 0s;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    z-index: 1;
}
.owl-carousel .owl-stage {
    position: relative;
}
.owl-carousel .owl-stage::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.owl-carousel .owl-stage-outer {
    overflow: hidden;
    position: relative;
}
.owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev {
    -moz-user-select: none;
    cursor: pointer;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel.owl-loading {
    display: block;
    opacity: 0;
}
.owl-carousel.owl-hidden {
    opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
    display: none;
}
.owl-carousel .owl-item {
    -moz-user-select: none;
    float: left;
    min-height: 1px;
    position: relative;
    overflow: hidden;
}
.owl-carousel.owl-text-select-on .owl-item {
    -moz-user-select: auto;
}
.owl-carousel .owl-grab {
    cursor: grab;
}
.owl-carousel.owl-rtl {
    direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
    float: right;
}
.no-js .owl-carousel {
    display: inline-block;
}
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease 0s;
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    position: relative;
}
.owl-carousel .owl-video-play-icon {
    background: rgba(0, 0, 0, 0) url("owl.video.play.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    transition: scale 100ms ease 0s;
    width: 80px;
    z-index: 1;
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
    display: none;
}
.owl-carousel .owl-video-tn {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    opacity: 0;
    transition: opacity 400ms ease 0s;
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: rgba(0,0,0,0.5) !important;}

.fixedHead .logo{padding-top: 0}
.fixedHead .menuIcon{margin-top: 21px;}

.owl-controls{display: none;}

.sucessMsg{display: inline-block;vertical-align: top;width: 100%;padding: 0 15px 15px;color: #fff;font-weight: 700;}

/*new 16/06/2016*/
.slideForm{position: fixed;right: 0;top:36%;z-index: 999;}
.slideForm .callMe{background-color: #b5cc34;color: #fff;line-height: 50px; font-size: 18px; padding: 0px 20px 2px; display: inline-block;transform: rotate(-90deg);-webkit-transform: rotate(-90deg);box-shadow: 0 -1px 2px rgba(0,0,0,0.4);-webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.4);z-index: 999;transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;cursor: pointer;    position: absolute;right: -75px;top: 72px;white-space: nowrap; }
.slideForm form#callbackFrmTop{float: right;width: 100%;background-color: #b5cc34;padding-top: 30px;}
.slideForm.conForm p{width: 100%;}
.slideForm .callCont{float: right; display: inline-block; width: 378px; z-index: 999; transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;position: absolute; right: -378px;top: 0;}
.slideForm .callMe.lableSlip{right: 305px;}
.slideForm .callCont.contSlip{right: 0;}

@media only screen and (max-width: 1024px) {
.circleBox a, span.phNumebr{display: none;}
a.phNumebr{display: inline-block;}
.appSection .tableBox{padding-bottom: 0;}
.conSection{background-attachment: inherit;}
}

@media only screen and (min-width: 1025px) {
.netSlider .owl-stage{transform: none !important;}
.slider .owl-carousel .owl-item .item > img{width: auto;max-width: inherit;position: relative;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.conForm p input[type="submit"]:hover{background: url(../images/reset-bg.png) no-repeat right bottom;}
.conForm p input[type="reset"]:hover{background:#ef7f1b;}
.callBtn:hover:after{transform: none;width: 100%;height: 100%;background-color: #b0cb1f;bottom: 0;right: 0;}
.netSlider .item:hover .circleBox a{transform: scale(1);-webkit-transform: scale(1);opacity: 1;visibility: visible;}
.netSlider .item:hover .circleBox a:after{transform: translateY(0%);-webkit-transform: translateY(0%);opacity: 1;visibility: visible;}
.slider .owl-nav div:hover{opacity: 1;}
.socialUl li a:hover{background-position:0 -28px;}
.socialUl li .twit:hover{background-position:-31px -28px;}
.socialUl li .ytube:hover{background-position:-62px -28px;}
.socialUl li .gpluse:hover{background-position:-93px -28px;}
.socialUl li .linkd:hover{background-position:-124px -28px;}
.socialUl li .skype:hover{background-position:-155px -28px;}
.maiLi a:hover{text-decoration:none;color: #000;}
.lastCol p a:hover{color: #ef7f1a;}
.footerBtm p a:hover{color: #fff;}
.popClose:hover{transform: rotate(360deg);-webkit-transform: rotate(360deg);}
.menu_inn li a:hover{color: #b0cb1f;}
.iconContain:hover .iconBox img{transform: translateY(-20px);}

}

@media only screen and (max-width: 767px) {
.slider:after, .topStrip, .scrollDown, .callBtn:after, .greenBox img{display: none;}
.headBtm{margin: 0;background-color: #000;position: static;}
.slider .owl-carousel .owl-item .item > img{width: auto;max-width: 767px;position: relative;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.bannerLogo img{max-width: 100px;}
.bannerCon p{font-size: 14px;line-height: 18px;display: block;margin: 15px auto;max-width: 78%;}
.callBtn{font-size: 14px;padding: 0 10px;line-height: 30px;}
.bannerCon{margin-top: 0;}
.slider .owl-nav div{margin: 0;left: 0;transform: translateY(-50%);-webkit-transform: translateY(-50%);width: 25px;height: 25px;background:url("../images/mobile-arrow.png") no-repeat;opacity: 1;}
.slider .owl-nav .owl-next{right: 0;}
.main_menu{ top:0; right:0;position: absolute;background-color: rgba(0, 0, 0, 0.9);transform: translate3d(100%, 0px, 0px);-webkit-transform: translate3d(100%, 0px, 0px);}
.main_menu{display:none;}
.main_menu.menuTopSlideNav-down{display:block;}
.menuTopSlideNav-down{transform: translate3d(0, 0px, 0px);-webkit-transform: translate3d(0, 0px, 0px);}
.main_menu .menu_inn li{ width:100%}
.mini_logo{width: 100%;}

.digitSpan{display: block;font-size: 50px;line-height: 50px;}
.titleDiv{width: 100%;}
.titleSpan{margin: 0;font-size: 30px;line-height: 32px;}
.titleSpan:after{bottom: -10px;}
.greenBox{width: 100%;background: url(../images/green-img.png) no-repeat center top;background-size: cover;}
.greenBoxcon{position: static;width: 100%;padding: 20px 15px;}
.greenBoxcon h3{font-size: 20px;line-height: 22px;}
.greenBoxcon h3:after{margin-top: 10px;}
.greenBoxcon li{margin: 0 0 10px;width: 100%;font-size: 14px;}
.greenBoxcon ul{margin: 20px 0 10px;}
.greenBoxcon p{text-align: justify;}
.rightImg{padding: 0;width: 100%;}
.rightImg img{max-width: 100%;}
.leftContent ul li{font-size: 14px;}
.tableBox td{white-space: nowrap;vertical-align: middle;}
.tableBox{overflow: auto;}
.rightContent{margin-top: 20px;}

.netSlider .owl-nav div{position: absolute;top: 50%;background: url(../images/mobile-arrow.png) no-repeat 0 0;width: 27px;height: 27px;left: 48px;overflow: hidden;text-indent: -99999999px;opacity:1;transform: translateY(-50%);-webkit-transform: translateY(-50%);left: 0}
.netSlider .owl-nav .owl-next{background-position: right center;right: 0;left: inherit;}

.porSection, .aboutSection{padding: 20px 0;}
.netSection{padding: 30px 0 20px;}
.netsTitle{font-size: 30px;line-height: 32px;}
.netSlider .circleBox img{max-width: 135px;}
.gallContent h3{margin: 15px 0;}
.appSection{padding: 20px 0;}
.percent{font-size: 14px;line-height: 20px;width: auto;padding:10px;}
.conForm p{width: 100%;margin: 0 0 15px;}
.conForm p.halfP{width: 100%;}
.conSection .titleBox{margin: 0 0 20px;}
.conSection{padding: 20px 0;}
.conForm p input[type="reset"], .conForm p input[type="submit"]{margin: 0 5px;padding: 0 30px;width: auto;}
.conDetail{padding: 20px 0;}
.location{margin: 15px 0;width: 100%;}
.lastCol{margin: 0;width: 100%;}
.twoLogo{width: 100%;text-align: center;margin: 10px 0 0;}
.footerBtm{height: auto;background-size: cover;padding: 30px 15px 15px;}
.footerBtm p a{display: inline-block;}
.footerBtm p span{display: block;line-height: 0;font-size: 0;}
.main_menu .menu_inn li.hiddenli{display: inline-block;line-height: 10px;margin: 0;border-top: 1px solid #fff;padding: 15px 0;margin-top: 10px;}
.main_menu .menu_inn li.hiddenli + .hiddenli{padding-bottom: 0;margin-top: 0;}
.main_menu .menu_inn li.hiddenli a{padding: 10px 0 0;display: inline-block;vertical-align: middle;}
.main_menu .menu_inn li.hiddenli span{display: inline-block;vertical-align: middle;margin: 10px 0 0;text-align: right;min-width: 100px;}
.main_menu .menu_inn li a{font-size: 18px;word-break: break-all;}
.logo{padding: 0;}
div.leftPart{padding: 10px 15px;}
.menuIcon{margin: 10px -6px 0 0;}
#abContent{height: 195px;position: relative;width: 100%;overflow: hidden;}
.appSection .tableBox td{white-space: normal;}
.appSection .tableBox td:nth-child(2){min-width: 230px;padding-right: 0;}
.appSection .tableBox td:nth-child(3){min-width: 150px;padding-right: 0;}
.appSection .tableBox td:nth-child(4){min-width: 200px;}

.owl-controls{display: block;}
.btmPart{padding-bottom: 25px;padding-top: inherit;}
.iconContain{font-size: 18px;line-height: 22px;}
.afNone:after, .btmPart:before{display: inline-block;}

.mobiNone{padding-bottom: 0;}
.mobiNone:before{display: none;}
.imgcontainer{padding: 20px 0;}
.iconContain:after{top: 15px;}
.menuTopSlideNav-down img, .main_menu img{width: 120px;margin: 0 0 15px;}
.menu_inn{width: 100%;}
.iconBox img{max-width: 80%;}
.iconBox{width: 90px;height: 90px;}

.slideForm .callCont{right: 0;left: 0; width: 100%;}
.slideForm .callMe{transform: inherit; left: 0; width: 100%; text-align: center; top:-51px}
.slideForm { position: fixed; right: 0; bottom: 0; z-index: 999; left: 0;top: inherit;}
.slideForm .callMe.lableSlip{right: 0; top: -253px;}
#submitBtnTop{margin-bottom: 10px;}
.slideForm .callCont.contSlip{top: -220px;}
.headBtm img {width:100px;}
}
@media only screen and (min-width: 320px){
.bannerCon h1 {font-size: 14px; line-height: 24px; margin: 12px auto 14px auto; }
.slideForm .callMe{display:none;}
}

@media only screen and (min-width: 375px) and (max-width: 567px){
.bannerCon{top:46%;}
.bannerCon h1 {font-size: 14px;line-height: 20px;margin: 12px auto 14px auto;width: 330px;}
.whContent.first {width: 98px; text-align: center; margin: 10px auto 0 auto;}
.slideForm .callMe{transform: inherit; left: 0; width: 100%; text-align: center; top:-51px}
}

@media only screen and (min-width: 568px) and (max-width: 767px){
.conForm p.halfP, .conForm p{width: 50%;}
.location{margin: 0;width: 45%;padding-right: 15px;}
.lastCol{width: 55%;float: right;}
.twoLogo{margin: 10px 0 15px;}
.bannerCon h1 { font-size: 14px; line-height: 22px;width: 460px;}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
.netSlider .owl-stage{transform: none !important;}
.slider .owl-carousel .owl-item .item > img{width: auto;max-width: 1366px;position: relative;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.bannerLogo img{max-width: 150px;}
.bannerCon p{max-width: 70%;display: block;margin: 15px auto;font-size: 16px;}
.slider .owl-nav div{left: 20px;}
.slider .owl-nav .owl-next{right: 20px;}
.bannerCon h1 { font-size: 16px; line-height: 25px;width: 600px;}

.circleBox > img{max-width: 80%;}
.lastCol{float: right;width: 33%;}
.location{width: 30%;margin: 0 0 0 35px;}
.twoLogo{width: 30%;}
.scrollDown{bottom: 40px;}
.conDetail{padding: 30px 0 50px;}
a.phNumebr + span{display: inline-block;}
.leftPart ul li{background:none;padding: 0}
.leftPart ul li.phLi{padding-right: 10px;}
.leftPart ul li.maiLi{padding-left: 10px;}
.main_menu .menu_inn li a{padding: 10px;font-size: 18px;}
.main_menu .menu_inn li:first-child a{padding-left: 0;}
.main_menu .menu_inn li:last-child a{padding-right: 0;}
.iconContain{font-size: 22px;line-height: 26px;}

}

@media only screen and (min-width: 768px) and (max-width: 991px){
.greenBox img, .rightImg{display: none;}
.greenBox{width: 100%;background: url(../images/green-img.png) no-repeat center top;background-size: cover;}
.greenBoxcon{position: static;width: 100%;padding: 30px;}
.homeImg{position: absolute;right: 0;bottom: 0;margin: 0;}

.rightContent{margin: 25px 0 0;}
.rightContent:before{border-top: 2px solid #dfdfdf;display: inline-block;vertical-align: top;width: 100%;content: ''}
.appSection .tableBox{margin-top: 5px;}
.leftPart a.phNumebr{font-size: 14px;}
.topStrip div.leftPart{width: 72%;padding-right: 0;}
.topStrip div.rihgtPart{width: 28%;padding-left: 0}
.menu_inn, .mini_logo{width: 100%;}
.whContent{min-height: 55px;}

}

@media only screen and (min-width: 992px) and (max-width: 1024px){
.rightImg img{max-width: 400px;float: right;}
.greenBoxcon{top: 50px;padding: 0 45px 0 110px;}
.greenBoxcon ul, .greenBoxcon h3{white-space: nowrap;}
.greenBoxcon li{margin-right: 15px;font-size: 16px;}
.tableBox td{line-height: 18px;padding-top: 5px;padding-bottom: 5px;padding-right: 5px;}
.porSection .tableBox td + td{white-space: nowrap;}
.location{margin-left: 35px;}
.rightImg{padding-top: 50px;}
.menu_inn{width: 90%;}

}